body {
    font-family: 'Poppins', 'Arial', sans-serif;
    background-color: #000;
    color: #fff;
    width: 100%;
    overflow-x: hidden;
}

.category-container {
    display: flex;
    overflow-x: scroll;
    height: 300px;
    align-items: center;
    width: 100%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.category-container::-webkit-scrollbar { /* Chrome et al */
    display: none;
}

.category-card {
    width: 500px;
    height: 280px;
    margin: 0 10px;
    border: 0;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1);
    transition: all .1s linear;
    flex-shrink: 0;
}

.category-card.-focus {
    border: 3px solid #FFF;
    transform: scale(1.05);
}